
@import "./core";

@import 'partitials/*';
@import 'layouts/*';
@import 'pages/*';

body {
  @include setTypography(body);
}

body{
  display: flex;
  height:100vh;
  flex-direction: column;
}

.container{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}























