doctype html
html(lang="ru")
    body
        head
            - var title = "Pug template";
            include ../partials/head

        header
            include ../partials/header

        main
            block content

        footer
            include ../partials/footer


        script(src="/js/app.min.js")


