doctype html
html(lang="ru")
    body.vh-100.d-flex.flex-column
        head
            - var title = "Portfolio-1";
            include ../partials/head

        header
            include ../partials/header

        main.d-flex.flex-grow-1.justify-content-center
            block content

        footer
            include ../partials/footer


        script(src="/js/app.min.js")


