@use "../../core" as *;

@mixin text-field($behavior-map:()){
  width: 100%;
  height: 1fr;
  padding: 0.6rem;
  text-align: center;
  border: 1px solid black;
  &::placeholder {
    color: #b3b3b3;
  }
  &:focus::placeholder {
    color: transparent;
  }
  @include setBehavior($behavior-map);
}


