.about.d-flex.align-items-center
    .container
        .row
            h5.text-muted.fw-light Меня зовут
            h1 Дмитрий Валюк
            h3.fw-light я занимаюсь созданием сайтов

            .row.d-flex.align-items-center.mt-4
                .col-lg-3
                    button.btn.btn-outline-primary(data-bs-toggle="modal" data-bs-target="#contactModal") Оставить заявку
                .col-lg-3
                    ul.d-flex.mb-0.list-unstyled.fs-5
                        li.me-4
                            a.link-dark(href="tel:+79254738295") +79254738295
                        li
                            a.link-dark(href="mailto:mymail@gmail.com") mymail@gmail.com


img(src='images/durov.png', alt='Пример кода').durov
.circle
