.header
    .container
        nav
            ul.navbar-nav
                li.nav-item
                    a.nav-link(aria-current="page" href="/") Home
                li.nav-item
                    a.nav-link(href="/pages/page-1.html") Page 1
                li.nav-item
                    a.nav-link(href="/pages/page-2.html") Page 2
