.container-fluid.pb-5
    // Brand color
    .container-fluid.example-container.mt-5(data-category="brand-color")
        h1 Brand color
        .mt-3.mb-5
            h3 Theme colors
            .p-2.mb-2.bg-primary.text-white .bg-primary
            .p-2.mb-2.bg-secondary.text-white .bg-secondary
            .p-2.mb-2.bg-success.text-white .bg-success
            .p-2.mb-2.bg-danger.text-white .bg-danger
            .p-2.mb-2.bg-warning.text-white .bg-warning
            .p-2.mb-2.bg-info.text-white .bg-info
            .p-2.mb-2.bg-light.text-gray-dark .bg-light
            .p-2.mb-2.bg-dark.text-white .bg-dark
            .p-2.mb-2.bg-white.text-gray-dark .bg-white
        .mt-3.mb-5
            h3 Gradient of grey
            .p-2.mb-2.swatch-100 .swatch-100
            .p-2.mb-2.swatch-200 .swatch-200
            .p-2.mb-2.swatch-300 .swatch-300
            .p-2.mb-2.swatch-400 .swatch-400
            .p-2.mb-2.swatch-500 .swatch-500
            .p-2.mb-2.swatch-600 .swatch-600
            .p-2.mb-2.swatch-700 .swatch-700
            .p-2.mb-2.swatch-800 .swatch-800
            .p-2.mb-2.swatch-900 .swatch-900
    // Links
    .container-fluid.example-container(data-category="links")
        h1 Links
        .mt-3.mb-5
            h3 Default Link
            a(href="javascript:void(0);") Exemple link
        .mt-3.mb-5
            h3 Link inside an alert
            .alert.alert-primary(role="alert")
                | This is a primary alert with
                a.alert-link(href="javascript:void(0);") an example link
                | . Give it a click if you like.
    // Grid
    .container-fluid.example-container(data-category="grid")
        h1 Grid
        div
            .bs-example-row
                // Bootstrap Grid
                .row
                    .col-sm-1 .col-sm-1
                    .col-sm-1 .col-sm-1
                    .col-sm-1 .col-sm-1
                    .col-sm-1 .col-sm-1
                    .col-sm-1 .col-sm-1
                    .col-sm-1 .col-sm-1
                    .col-sm-1 .col-sm-1
                    .col-sm-1 .col-sm-1
                    .col-sm-1 .col-sm-1
                    .col-sm-1 .col-sm-1
                    .col-sm-1 .col-sm-1
                    .col-sm-1 .col-sm-1
                .row
                    .col-sm-2 .col-sm-2
                    .col-sm-3 .col-sm-3
                    .col-sm-7 .col-sm-7
                .row
                    .col-sm-4 .col-sm-4
                    .col-sm-4 .col-sm-4
                    .col-sm-4 .col-sm-4
                .row
                    .col-sm-5 .col-sm-5
                    .col-sm-7 .col-sm-7
                .row
                    .col-sm-6 .col-sm-6
                    .col-sm-6 .col-sm-6
                .row
                    .col-sm-12 .col-sm-12
    // Fonts
    .container-fluid.example-container(data-category="fonts")
        h1 Fonts
        div
            h1 h1
            h2 h2
            h3 h3
            h4 h4
            h5 h5
            h6 h6
            br
            h1
                | Heading 1
                small Sub-heading
            h2
                | Heading 2
                small Sub-heading
            h3
                | Heading 3
                small Sub-heading
            h4
                | Heading 4
                small Sub-heading
            h5
                | Heading 5
                small Sub-heading
            h6
                | Heading 6
                small Sub-heading
            br
            h1.display-1 Display 1
            h1.display-2 Display 2
            h1.display-3 Display 3
            h1.display-4 Display 4
            br
            p.lead
                | This is the article lead — it stands out at the start of the article.
            p
                | This is normal text at the normal size etc...
            p
                | Sample
                mark marked text
                | .
            br
            blockquote.blockquote
                p
                    | The most important moment of your life is now. The most important person in your life is the one you are with now,
                    | and the most important activity in your life is the one you are involved with now.
    // Buttons
    .container-fluid.example-container(data-category="buttons")
        h1 Buttons
        .mt-3.mb-5
            h3 Default buttons
            button.btn.btn-primary(type="button") Primary
            button.btn.btn-secondary(type="button") Secondary
            button.btn.btn-info(type="button") Info
            button.btn.btn-success(type="button") Success
            button.btn.btn-warning(type="button") Warning
            button.btn.btn-danger(type="button") Danger
            button.btn.btn-light(type="button") Light
            button.btn.btn-dark(type="button") Dark
            button.btn.btn-link(type="button") Link
        .mt-3.mb-5
            h3 Buttons with outline
            button.btn.btn-outline-primary(type="button") Primary
            button.btn.btn-outline-secondary(type="button") Secondary
            button.btn.btn-outline-info(type="button") Info
            button.btn.btn-outline-success(type="button") Success
            button.btn.btn-outline-warning(type="button") Warning
            button.btn.btn-outline-danger(type="button") Danger
            button.btn.btn-outline-light(type="button") Light
            button.btn.btn-outline-dark(type="button") Dark
        .mt-3.mb-5
            h3 Buttons sizes
            button.btn.btn-success.btn-sm(type="button") Small
            button.btn.btn-success(type="button") Default
            button.btn.btn-success.btn-lg(type="button") Large
            br
            button.btn.btn-danger.btn-lg.btn-block(type="button") Block level button
        .mt-3.mb-5
            h3 Disabled button
            p
                a.btn.btn-primary.btn-lg.disabled(href="javascript:void(0);" role="button") The 'a' Element
            p
                button.btn.btn-lg.btn-primary(type="button" disabled="disabled") The 'button' Element
            p
                input.btn.btn-lg.btn-primary(type="button" disabled="disabled" value="The 'input' Element")
        .mt-3.mb-5
            h3 Checkbox buttons
            .btn-group(data-toggle="buttons")
                label.btn.btn-primary.active
                    input(type="checkbox" checked="" autocomplete="off")
                    |  Boots
                label.btn.btn-primary
                    input(type="checkbox" autocomplete="off")
                    |  Shoes
                label.btn.btn-primary.active
                    input(type="checkbox" autocomplete="off")
                    |  Feet
        .mt-3.mb-5
            h3 Radio buttons
            .btn-group(data-toggle="buttons")
                label.btn.btn-primary
                    input#boots(type="radio" name="options" autocomplete="off" checked="")
                    |  Boots
                label.btn.btn-primary
                    input#shoes(type="radio" name="options" autocomplete="off")
                    |  Shoes
                label.btn.btn-primary.active
                    input#feet(type="radio" name="options" autocomplete="off")
                    |  Feet
    // Forms
    .container-fluid.example-container(data-category="forms")
        h1 Forms
        .mt-3.mb-5
            h3 Default form group
            form(action="javascript:void(0);")
                fieldset.form-group
                    label(for="first_name") First Name
                    input#first_name.form-control(type="text" name="first_name")
                fieldset.form-group
                    label(for="last_name") Last Name
                    input#last_name.form-control(type="text" name="last_name")
                button.btn.btn-default(type="submit") Submit
        h3 Inline form
        .mt-3.mb-5
            form.form-inline(action="javascript:void(0);")
                label.mr-sm-2.mb-0(for="first_name") First Name
                input#first_name.form-control.mr-sm-2.mb-2.mb-sm-0(type="text" name="first_name")
                label.mr-sm-2.mb-0(for="last_name") Last Name
                input#last_name.form-control.mr-sm-2.mb-2.mb-sm-0(type="text" name="last_name")
                button.btn.btn-default.mt-2.mt-sm-0(type="submit") Submit
        h3 Aligned form
        .mt-3.mb-5
            .container
                form(action="javascript:void(0);")
                    .form-group.row
                        label.col-xs-3.col-form-label.mr-2(for="first_name") First Name
                        .col-xs-9
                            input#first_name.form-control(type="text" name="first_name")
                    .form-group.row
                        label.col-xs-3.col-form-label.mr-2(for="last_name") Last Name
                        .col-xs-9
                            input#last_name.form-control(type="text" name="last_name")
                    .form-group.row
                        .offset-xs-3.col-xs-9
                            button.btn.btn-default(type="submit") Submit
        div
            .container
                form(action="javascript:void(0);")
                    fieldset.form-group
                        .row
                            legend.col-form-legend.col-3 Fruit
                            .col-9
                                .form-check
                                    label.form-check-label
                                        input#legendRadio1.form-check-input(type="radio" name="legendRadio" value="1")
                                        |  Apple
                                .form-check
                                    label.form-check-label
                                        input#legendRadio2.form-check-input(type="radio" name="legendRadio" value="2" checked="")
                                        |  Orange
                                .form-check
                                    label.form-check-label
                                        input#legendRadio3.form-check-input(type="radio" name="legendRadio" value="3")
                                        |  Watermelon
                    .form-group.row
                        label.col-3.col-form-label(for="first_name") First Name
                        .col-9
                            input#first_name.form-control(type="text" name="first_name")
                    .form-group.row
                        label.col-3.col-form-label(for="last_name") Last Name
                        .col-9
                            input#last_name.form-control(type="text" name="last_name")
                    .form-group.row
                        .offset-3.col-9
                            button.btn.btn-default(type="submit") Submit
        h3 Form with help text
        .mt-3.mb-5
            label(for="accountId") Account Id
            input#accountId.form-control(type="text" aria-describedby="helpAccountId")
            span#helpAccountId.form-text.text-muted Your account ID is located at the top of your invoice.
        h3 Checkbox and radio
        .mt-3.mb-5
            .form-check.form-check-inline
                label.form-check-label
                    input#inlineCheckbox1.form-check-input(type="checkbox" value="1")
                    |  1
            .form-check.form-check-inline
                label.form-check-label
                    input#inlineCheckbox2.form-check-input(type="checkbox" value="2")
                    |  2
                label.form-check-label
                    input#inlineCheckbox3.form-check-input(type="checkbox" value="3")
                    |  3
            .form-check.form-check-inline
                label.form-check-label
                    input#inlineRadio1.form-check-input(type="radio" name="inlineRadioOptions" value="1")
                    |  1
            .form-check.form-check-inline
                label.form-check-label
                    input#inlineRadio2.form-check-input(type="radio" name="inlineRadioOptions" value="2")
                    |  2
            .form-check.form-check-inline
                label.form-check-label
                    input#inlineRadio3.form-check-input(type="radio" name="inlineRadioOptions" value="3")
                    |  3
    // Dropdown
    .container-fluid.example-container(data-category="dropdown")
        h1 Dropdown
        .row
            .mt-3.mb-5.col-4(style="position: relative")
                h3 Default dropdown
                .dropdown
                    button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                        | Dropdown button
                    .dropdown-menu(aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;")
                        a.dropdown-item(href="javascript:void(0);") Action
                        a.dropdown-item(href="javascript:void(0);") Another action
                        a.dropdown-item(href="javascript:void(0);") Something else here
            .mt-3.mb-5.col-4
                h3 Dropdown with menu
                .dropdown
                    button#about-us.btn.btn-primary.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                        | About Us
                    .dropdown-menu(aria-labelledby="about-us" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;")
                        h6.dropdown-header Company Information
                        a.dropdown-item(href="javascript:void(0);") Our Story
                        a.dropdown-item(href="javascript:void(0);") Our Team
                        h6.dropdown-header Contact Us
                        a.dropdown-item(href="javascript:void(0);") Call Center
                        a.dropdown-item(href="javascript:void(0);") Store Locations
            .mt-3.mb-5.col-4
                h3 Dropdown with divider
                .dropdown
                    button#about-us.btn.btn-primary.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                        | About Us
                    .dropdown-menu(aria-labelledby="about-us")
                        a.dropdown-item(href="javascript:void(0);") Our Story
                        a.dropdown-item(href="javascript:void(0);") Our Team
                        .dropdown-divider
                        a.dropdown-item(href="javascript:void(0);") Contact Us
    // Navs
    .container-fluid.example-container(data-category="navs")
        h1 Navs
        h3 Default nav
        .mt-3.mb-5
            ul.nav
                li.nav-item
                    a.nav-link.active(href="javascript:void(0);") HTML
                li.nav-item
                    a.nav-link(href="javascript:void(0);") CSS
                li.nav-item
                    a.nav-link(href="javascript:void(0);") JavaScript
                li.nav-item
                    a.nav-link(href="javascript:void(0);") Preview
        h3 Horizontal menu
        .mt-3.mb-5
            nav.nav.flex-column
                a.nav-link.active(href="javascript:void(0);") HTML
                a.nav-link(href="javascript:void(0);") CSS
                a.nav-link(href="javascript:void(0);") JavaScript
                a.nav-link(href="javascript:void(0);") Preview
        h3 Nav with tabs
        .mt-3.mb-5
            ul.nav.nav-tabs
                li.nav-item
                    a.nav-link.active(href="javascript:void(0);") HTML
                li.nav-item
                    a.nav-link(href="javascript:void(0);") CSS
                li.nav-item
                    a.nav-link(href="javascript:void(0);") JavaScript
                li.nav-item
                    a.nav-link(href="javascript:void(0);") Preview
        h3 Nav with pills
        .mt-3.mb-5
            ul.nav.nav-pills
                li.nav-item
                    a.nav-link.active(href="javascript:void(0);") HTML
                li.nav-item
                    a.nav-link(href="javascript:void(0);") CSS
                li.nav-item
                    a.nav-link(href="javascript:void(0);") JavaScript
                li.nav-item
                    a.nav-link(href="javascript:void(0);") Preview
        h3 Horizontal nav with pills
        .mt-3.mb-5
            ul.nav.nav-pills.flex-column
                li.nav-item
                    a.nav-link.active(href="javascript:void(0);") HTML
                li.nav-item
                    a.nav-link(href="javascript:void(0);") CSS
                li.nav-item
                    a.nav-link(href="javascript:void(0);") JavaScript
                li.nav-item
                    a.nav-link(href="javascript:void(0);") Preview
        h3 Nav with tabs and dropdown
        .mt-3.mb-5
            ul#clothing-nav.nav.nav-tabs(role="tablist")
                li.nav-item
                    a#home-tab.nav-link.active(href="#home" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true") Home
                li.nav-item
                    a#hats-tab.nav-link(href="#hats" role="tab" data-toggle="tab" aria-controls="hats") Hats
                // Dropdown
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(data-toggle="dropdown" href="javascript:void(0);" role="button" aria-haspopup="true" aria-expanded="false")
                        | Footwear
                    .dropdown-menu
                        a#dropdown-shoes-tab.dropdown-item(href="#dropdown-shoes" role="tab" data-toggle="tab" aria-controls="dropdownShoes") Shoes
                        a#dropdown-boots-tab.dropdown-item(href="#dropdown-boots" role="tab" data-toggle="tab" aria-controls="dropdownBoots") Boots
            // Content Panel
            #clothing-nav-content.tab-content
                #home.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="home-tab")
                    p Welcome home! Click on the tabs to see the content change.
                #hats.tab-pane.fade(role="tabpanel" aria-labelledby="hats-tab")
                    p
                        | A hat is a head covering. It can be worn for protection against the elements, ceremonial reasons, religious reasons,
                        | safety, or as a fashion accessory.
                #dropdown-shoes.tab-pane.fade(role="tabpanel" aria-labelledby="dropdown-shoes-tab")
                    p
                        | A shoe is an item of footwear intended to protect and comfort the human foot while doing various activities. Shoes
                        | are also used as an item of decoration.
                #dropdown-boots.tab-pane.fade(role="tabpanel" aria-labelledby="dropdown-boots-tab")
                    p
                        | A boot is a type of footwear and a specific type of shoe. Most boots mainly cover the foot and the ankle, while
                        | some also cover some part of the lower calf. Some boots extend up the leg, sometimes as far as the knee or even
                        | the hip.
    // Navbar
    .container-fluid.example-container(data-category="navbar")
        h1 Navbar
        .mt-3.mb-5
            nav.navbar.navbar-expand-sm.navbar-light.bg-faded
                button.navbar-toggler(type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                // Brand
                a.navbar-brand(href="javascript:void(0);") Logo
                // Links
                #nav-content.collapse.navbar-collapse
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href="javascript:void(0);") Link 1
                        li.nav-item.active
                            a.nav-link(href="javascript:void(0);")
                                | Link 2
                                span.sr-only (current)
                        li.nav-item
                            a.nav-link(href="javascript:void(0);") Link 3
        .mt-3.mb-5
            nav.navbar.navbar-expand-sm.navbar-light.bg-primary
                button.navbar-toggler(type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                // Brand
                a.navbar-brand(href="javascript:void(0);") Logo
                // Links
                #nav-content.collapse.navbar-collapse
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href="javascript:void(0);") Link 1
                        li.nav-item
                            a.nav-link(href="javascript:void(0);") Link 2
                        li.nav-item
                            a.nav-link(href="javascript:void(0);") Link 3
        .mt-3.mb-5
            nav.navbar.navbar-expand-sm.navbar-dark.bg-primary
                button.navbar-toggler(type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                // Brand
                a.navbar-brand(href="javascript:void(0);") Logo
                // Links
                #nav-content.collapse.navbar-collapse
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href="javascript:void(0);") Link 1
                        li.nav-item
                            a.nav-link(href="javascript:void(0);") Link 2
                        li.nav-item
                            a.nav-link(href="javascript:void(0);") Link 3
    // Tables
    .container-fluid.example-container(data-category="tables")
        h1 Tables
        .mt-3.mb-5
            h3 Default table
            div
                table.table
                    thead
                        tr
                            th Header 1
                            th Header 2
                            th Header 3
                    tfoot
                        tr
                            th Footer 1
                            th Footer 2
                            th Footer 3
                    tbody
                        tr
                            td Cell
                            td Cell
                            td Cell
                        tr
                            td Cell
                            td Cell
                            td Cell
                        tr
                            td Cell
                            td Cell
                            td Cell
        .mt-3.mb-5
            h3 Table inverse
            table.table.table-inverse
                thead
                    tr
                        th Header 1
                        th Header 2
                        th Header 3
                tfoot
                    tr
                        th Footer 1
                        th Footer 2
                        th Footer 3
                tbody
                    tr
                        td Cell
                        td Cell
                        td Cell
                    tr
                        td Cell
                        td Cell
                        td Cell
                    tr
                        td Cell
                        td Cell
                        td Cell
        .mt-3.mb-5
            h3 Table striped
            table.table.table-striped
                thead
                    tr
                        th Header 1
                        th Header 2
                        th Header 3
                tfoot
                    tr
                        th Footer 1
                        th Footer 2
                        th Footer 3
                tbody
                    tr
                        td Cell
                        td Cell
                        td Cell
                    tr
                        td Cell
                        td Cell
                        td Cell
                    tr
                        td Cell
                        td Cell
                        td Cell
        .mt-3.mb-5
            h3 Table with border
            table.table.table-bordered
                thead
                    tr
                        th Header 1
                        th Header 2
                        th Header 3
                tfoot
                    tr
                        th Footer 1
                        th Footer 2
                        th Footer 3
                tbody
                    tr
                        td Cell
                        td Cell
                        td Cell
                    tr
                        td Cell
                        td Cell
                        td Cell
                    tr
                        td Cell
                        td Cell
                        td Cell
        .mt-3.mb-5
            h3 Table with hover
            table.table.table-hover
                thead
                    tr
                        th Header 1
                        th Header 2
                        th Header 3
                tfoot
                    tr
                        th Footer 1
                        th Footer 2
                        th Footer 3
                tbody
                    tr
                        td Cell
                        td Cell
                        td Cell
                    tr
                        td Cell
                        td Cell
                        td Cell
                    tr
                        td Cell
                        td Cell
                        td Cell
        .mt-3.mb-5
            h3 Table with Head with default color
            table.table
                thead.thead-default
                    tr
                        th Header 1
                        th Header 2
                        th Header 3
                tfoot
                    tr
                        th Footer 1
                        th Footer 2
                        th Footer 3
                tbody
                    tr
                        td Cell
                        td Cell
                        td Cell
                    tr
                        td Cell
                        td Cell
                        td Cell
                    tr
                        td Cell
                        td Cell
                        td Cell
        .mt-3.mb-5
            h3 Table with inverse Head color
            table.table
                thead.thead-inverse
                    tr
                        th Header 1
                        th Header 2
                        th Header 3
                tfoot
                    tr
                        th Footer 1
                        th Footer 2
                        th Footer 3
                tbody
                    tr
                        td Cell
                        td Cell
                        td Cell
                    tr
                        td Cell
                        td Cell
                        td Cell
                    tr
                        td Cell
                        td Cell
                        td Cell
    // Pagination
    .container-fluid.example-container(data-category="pagination")
        h1 Pagination
        .mt-3.mb-5
            nav
                ul.pagination
                    li.page-item
                        a.page-link(href="javascript:void(0);" aria-label="Previous")
                            span(aria-hidden="true") «
                    li.page-item
                        a.page-link(href="javascript:void(0);") 1
                    li.page-item
                        a.page-link(href="javascript:void(0);") 2
                    li.page-item
                        a.page-link(href="javascript:void(0);") 3
                    li.page-item
                        a.page-link(href="javascript:void(0);") 4
                    li.page-item
                        a.page-link(href="javascript:void(0);") 5
                    li.page-item
                        a.page-link(href="javascript:void(0);") 6
                    li.page-item
                        a.page-link(href="javascript:void(0);") 7
                    li.page-item
                        a.page-link(href="javascript:void(0);" aria-label="Next")
                            span(aria-hidden="true") »
        .mt-3.mb-5
            nav
                ul.pagination
                    li.page-item
                        a.page-link(href="javascript:void(0);" aria-label="Previous")
                            span(aria-hidden="true") «
                    li.page-item
                        a.page-link(href="javascript:void(0);") 1
                    li.page-item
                        a.page-link(href="javascript:void(0);") 2
                    li.page-item
                        a.page-link(href="javascript:void(0);") 3
                    li.page-item.active
                        a.page-link(href="javascript:void(0);") 4
                    li.page-item
                        a.page-link(href="javascript:void(0);") 5
                    li.page-item
                        a.page-link(href="javascript:void(0);") 6
                    li.page-item
                        a.page-link(href="javascript:void(0);") 7
                    li.page-item
                        a.page-link(href="javascript:void(0);" aria-label="Next")
                            span(aria-hidden="true") »
        .mt-3.mb-5
            nav
                ul.pagination.pagination-lg
                    li.page-item
                        a.page-link(href="javascript:void(0);" aria-label="Previous")
                            span(aria-hidden="true") «
                    li.page-item
                        a.page-link(href="javascript:void(0);") 1
                    li.page-item
                        a.page-link(href="javascript:void(0);") 2
                    li.page-item
                        a.page-link(href="javascript:void(0);") 3
                    li.page-item
                        a.page-link(href="javascript:void(0);") 4
                    li.page-item
                        a.page-link(href="javascript:void(0);") 5
                    li.page-item
                        a.page-link(href="javascript:void(0);") 6
                    li.page-item
                        a.page-link(href="javascript:void(0);") 7
                    li.page-item
                        a.page-link(href="javascript:void(0);" aria-label="Next")
                            span(aria-hidden="true") »
        .mt-3.mb-5
            nav
                ul.pagination
                    li.page-item
                        a.page-link(href="javascript:void(0);" aria-label="Previous")
                            span(aria-hidden="true") «
                    li.page-item
                        a.page-link(href="javascript:void(0);") 1
                    li.page-item
                        a.page-link(href="javascript:void(0);") 2
                    li.page-item
                        a.page-link(href="javascript:void(0);") 3
                    li.page-item
                        a.page-link(href="javascript:void(0);") 4
                    li.page-item
                        a.page-link(href="javascript:void(0);") 5
                    li.page-item
                        a.page-link(href="javascript:void(0);") 6
                    li.page-item
                        a.page-link(href="javascript:void(0);") 7
                    li.page-item
                        a.page-link(href="javascript:void(0);" aria-label="Next")
                            span(aria-hidden="true") »
        .mt-3.mb-5
            nav
                ul.pagination.pagination-sm
                    li.page-item
                        a.page-link(href="javascript:void(0);" aria-label="Previous")
                            span(aria-hidden="true") «
                    li.page-item
                        a.page-link(href="javascript:void(0);") 1
                    li.page-item
                        a.page-link(href="javascript:void(0);") 2
                    li.page-item
                        a.page-link(href="javascript:void(0);") 3
                    li.page-item
                        a.page-link(href="javascript:void(0);") 4
                    li.page-item
                        a.page-link(href="javascript:void(0);") 5
                    li.page-item
                        a.page-link(href="javascript:void(0);") 6
                    li.page-item
                        a.page-link(href="javascript:void(0);") 7
                    li.page-item
                        a.page-link(href="javascript:void(0);" aria-label="Next")
                            span(aria-hidden="true") »
    // Jumbotron
    .container-fluid.example-container(data-category="jumbotron")
        h1 Jumbotron
        .container
            .jumbotron
                h1 Container size jumboton
                p Think BIG with a Bootstrap Jumbotron!
        div
            .jumbotron.jumbotron-fluid
                .container
                    h1 Container fluid size jumbotron
                    p Think BIG with a Bootstrap Jumbotron!
    // Cards
    .container-fluid.example-container(data-category="cards")
        h1 Cards
        .row.mb-3
            .col-3
                .card.card-body
                    h4.card-title Boot Polish
                    p.card-text
                        | Boot polish is a waxy paste, cream, or liquid used to polish, shine, and waterproof leather shoes or boots to extend
                        | the footwear's life, and restore, maintain and improve their appearance.
                    a.btn.btn-primary(href="javascript:void(0);") More
            .col-3
                .card
                    .card-body
                        h4.card-title Sun Gone
                        p.card-text Here are the top resources for all things related to the Sun.
                        a.card-link(href="javascript:void(0);") Sun Gone
                        a.card-link(href="javascript:void(0);") Still Gone
            .col-3
                .card.text-center
                    .card-body
                        h4.card-title Sun Gone
                        h6.card-subtitle.text-muted Sun disappears!
                    img(src="https://via.placeholder.com/300x150" alt="Photo of sunset")
                    .card-body
                        p.card-text
                            | The sun disappeared behind the horizon today. Experts claim it could be gone for good!
                        a.btn.btn-primary(href="javascript:void(0);") Full Report
            .col-3
                .card
                    .card-header
                        | Sponsored Content
                    .card-body
                        h4.card-title Ugg Boots
                        p.card-text Best ugg boots on the planet. Free shipping, 24/7 customer service.
                    .card-footer
                        | By boots.com
        .row.mb-3
            .col-12
                .card-group
                    .card
                        .card-header Sun Gone
                        .card-body
                            p.card-text The top resources for all things related to the Sun.
                            a.card-link(href="javascript:void(0);") Sun Gone
                            a.card-link(href="javascript:void(0);") Still Gone
                    .card
                        .card-header Sun Up
                        .card-body
                            p.card-text
                                | Looks like the Sun has returned. Here's
                                a.card-link(href="javascript:void(0);") why
                                | .
    // Tooltip
    .container-fluid.example-container(data-category="tooltip")
        h1 Tooltip
        .mt-3.mb-5
            h3 Inline tooltip
            p(style="margin:40px;")
                | Check out my
                a(target="_blank" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="Build advanced layouts easily with CSS!") Grid tutorial
                | , as you never know when you might need it!
        .mt-3.mb-5
            h3 All position tooltip
            button.btn.btn-primary(type="button" data-toggle="tooltip" data-placement="top" title="" style="margin:20px;" data-original-title="Top shoes")
                | Shoes
            button.btn.btn-info(type="button" data-toggle="tooltip" data-placement="right" title="" style="margin:20px;" data-original-title="Right boot")
                | Boots
            button.btn.btn-warning(type="button" data-toggle="tooltip" data-placement="bottom" title="" style="margin:20px;" data-original-title="Bottom uggs")
                | Ugg
            button.btn.btn-success(type="button" data-toggle="tooltip" data-placement="left" title="" style="margin:20px;" data-original-title="Left sock")
                | Socks
    // Popovers
    .container-fluid.example-container(data-category="popovers")
        h1 Popovers
        .mt-3.mb-5
            h3 All popover position
            button.btn.btn-secondary(type="button" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="")
                | Popover on top
            button.btn.btn-secondary(type="button" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="")
                | Popover on right
            button.btn.btn-secondary(type="button" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus\
  sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="")
                | Popover on bottom
            button.btn.btn-secondary(type="button" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="")
                | Popover on left
    // Badges
    .container-fluid.example-container(data-category="badges")
        h1 Badges
        .mt-3.mb-5
            h3 Badge heading
            h1
                | Example heading
                span.badge.badge-secondary New
            h2
                | Example heading
                span.badge.badge-secondary New
            h3
                | Example heading
                span.badge.badge-secondary New
            h4
                | Example heading
                span.badge.badge-secondary New
            h5
                | Example heading
                span.badge.badge-secondary New
            h6
                | Example heading
                span.badge.badge-secondary New
        .mt-3.mb-5
            h3 Button with inline badge
            button.btn.btn-primary(type="button")
                | Notifications
                span.badge.badge-light 4
            button.btn.btn-primary(type="button")
                | Profile
                span.badge.badge-light 9
                span.sr-only unread messages
        .mt-3.mb-5
            h3 Default badges
            span.badge.badge-primary Primary
            span.badge.badge-secondary Secondary
            span.badge.badge-success Success
            span.badge.badge-danger Danger
            span.badge.badge-warning Warning
            span.badge.badge-info Info
            span.badge.badge-light Light
            span.badge.badge-dark Dark
        .mt-3.mb-5
            h3 Badges pill
            span.badge.badge-pill.badge-primary Primary
            span.badge.badge-pill.badge-secondary Secondary
            span.badge.badge-pill.badge-success Success
            span.badge.badge-pill.badge-danger Danger
            span.badge.badge-pill.badge-warning Warning
            span.badge.badge-pill.badge-info Info
            span.badge.badge-pill.badge-light Light
            span.badge.badge-pill.badge-dark Dark
        .mt-3.mb-5
            h3 Badges with link
            a.badge.badge-primary(href="javascript:void(0);") Primary
            a.badge.badge-secondary(href="javascript:void(0);") Secondary
            a.badge.badge-success(href="javascript:void(0);") Success
            a.badge.badge-danger(href="javascript:void(0);") Danger
            a.badge.badge-warning(href="javascript:void(0);") Warning
            a.badge.badge-info(href="javascript:void(0);") Info
            a.badge.badge-light(href="javascript:void(0);") Light
            a.badge.badge-dark(href="javascript:void(0);") Dark
    // Modals
    .container-fluid.example-container(data-category="modals")
        h1 Modals
        .mt-3.mb-5.row
            button.btn.btn-primary.btn-lg.col-3.mr-3.ml-3(type="button" data-toggle="modal" data-target="#flipFlop")
                | Default Modal
            button.btn.btn-primary.btn-lg.col-3.mr-3.ml-3(type="button" data-toggle="modal" data-target="#largeShoes")
                | Large Modal
            button.btn.btn-primary.btn-lg.col-3.mr-3.ml-3(type="button" data-toggle="modal" data-target="#smallShoes")
                | Small Modal
            // The modal
            #smallShoes.modal.fade(tabindex="-1" role="dialog" aria-labelledby="modalLabelSmall" aria-hidden="true")
                .modal-dialog.modal-sm
                    .modal-content
                        .modal-header
                            button.close(type="button" data-dismiss="modal" aria-label="Close")
                                span(aria-hidden="true") ×
                            h4#modalLabelSmall.modal-title Small Shoes
                        .modal-body
                            | Small shoes are typically worn by people with small feet.
            // The modal
            #largeShoes.modal.fade(tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true")
                .modal-dialog.modal-lg
                    .modal-content
                        .modal-header
                            button.close(type="button" data-dismiss="modal" aria-label="Close")
                                span(aria-hidden="true") ×
                            h4#modalLabelLarge.modal-title Large Shoes
                        .modal-body
                            | Large shoes are usually avoided by people with small feet.
            // The modal
            #flipFlop.modal.fade(tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true")
                .modal-dialog(role="document")
                    .modal-content
                        .modal-header
                            button.close(type="button" data-dismiss="modal" aria-label="Close")
                                span(aria-hidden="true") ×
                            h4#modalLabel.modal-title Flip-flop
                        .modal-body
                            | A type of open-toed sandal.
                        .modal-footer
                            button.btn.btn-secondary(type="button" data-dismiss="modal") Close
    // Alerts
    .container-fluid.example-container(data-category="alerts")
        h1 Alerts
        .mt-3.mb-5
            h3 Default alert
            .alert.alert-success(role="alert") Success alert
            .alert.alert-info(role="alert") Info alert
            .alert.alert-warning(role="alert") Warning alert
            .alert.alert-danger(role="alert") Danger alert
            .alert.alert-light(role="alert") Light alert
            .alert.alert-dark(role="alert") Dark alert
        .mt-3.mb-5
            h3 Dismissible alert
            .alert.alert-success.alert-dismissible(role="alert")
                button.close(type="button" data-dismiss="alert" aria-label="Close")
                    span(aria-hidden="true") ×
                strong Congratulations!
                |  You successfully tied your shoelace!
        .mt-3.mb-5
            h3 Dismissible alert with fade
            .alert.alert-success.alert-dismissible.fade.show(role="alert")
                button.close(type="button" data-dismiss="alert" aria-label="Close")
                    span(aria-hidden="true") ×
                strong Congratulations!
                |  You successfully tied your shoelace!
    // Progress bars
    .container-fluid.example-container(data-category="progress-bars")
        h1 Progress bars
        .mt-3.mb-5
            h3 Default Progress bar
            .progress
                .progress-bar.bg-success(role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100")
            br
            .progress
                .progress-bar.bg-info(role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100")
            br
            .progress
                .progress-bar.bg-warning(role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100")
            br
            .progress
                .progress-bar.bg-danger(role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100")
            br
            .progress
                .progress-bar.bg-light(role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100")
            br
            .progress
                .progress-bar.bg-dark(role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100")
        .mt-3.mb-5
            h3 Striped Progress bar
            .progress
                .progress-bar.progress-bar-striped(role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100")
            br
            .progress
                .progress-bar.progress-bar-striped.bg-success(role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100")
            br
            .progress
                .progress-bar.progress-bar-striped.bg-info(role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100")
            br
            .progress
                .progress-bar.progress-bar-striped.bg-warning(role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100")
            br
            .progress
                .progress-bar.progress-bar-striped.bg-danger(role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100")
            br
            .progress
                .progress-bar.progress-bar-striped.bg-light(role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100")
            br
            .progress
                .progress-bar.progress-bar-striped.bg-dark(role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100")
        .mt-3.mb-5
            h3 Animated Progress bar
            .progress
                .progress-bar.progress-bar-striped.progress-bar-animated(role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%")
    // List group
    .container-fluid.example-container(data-category="list-group")
        h1 List group
        .mt-3.mb-5
            h3 Default list group
            ul.list-group
                li.list-group-item These Boots Are Made For Walking
                li.list-group-item Eleanor, Put Your Boots On
                li.list-group-item Puss 'n' Boots
                li.list-group-item Die With Your Boots On
                li.list-group-item Fairies Wear Boots
        .mt-3.mb-5
            h3 List group with pills
            ul.list-group
                li.list-group-item.justify-content-between
                    | These Boots Are Made For Walking
                    span.badge.badge-secondary.badge-pill 15
                li.list-group-item.justify-content-between
                    | Eleanor, Put Your Boots On
                    span.badge.badge-secondary.badge-pill 38
                li.list-group-item.justify-content-between
                    | Puss 'n' Boots
                    span.badge.badge-secondary.badge-pill 76
                li.list-group-item.justify-content-between
                    | Die With Your Boots On
                    span.badge.badge-secondary.badge-pill 112
                li.list-group-item.justify-content-between
                    | Fairies Wear Boots
                    span.badge.badge-secondary.badge-pill 181
        .mt-3.mb-5
            h3 Link List group
            .list-group
                a.list-group-item.list-group-item-action(href="javascript:void(0);") These Boots Are Made For Walking
                a.list-group-item.list-group-item-action.active(href="javascript:void(0);") Eleanor, Put Your Boots On
                a.list-group-item.list-group-item-action(href="javascript:void(0);") Puss 'n' Boots
                a.list-group-item.list-group-item-action(href="javascript:void(0);") Die With Your Boots On
                a.list-group-item.list-group-item-action(href="javascript:void(0);") Fairies Wear Boots
        .mt-3.mb-5
            h3 Button List group
            .list-group
                button.list-group-item.list-group-item-action(type="button") These Boots Are Made For Walking
                button.list-group-item.list-group-item-action.active(type="button") Eleanor, Put Your Boots On
                button.list-group-item.list-group-item-action(type="button") Puss 'n' Boots
                button.list-group-item.list-group-item-action(type="button") Die With Your Boots On
                button.list-group-item.list-group-item-action(type="button") Fairies Wear Boots
        .mt-3.mb-5
            h3 List group with colors
            .list-group
                a.list-group-item.list-group-item-action.list-group-item-success(href="javascript:void(0);") These Boots Are Made For Walking
                a.list-group-item.list-group-item-action.list-group-item-success.active(href="javascript:void(0);") Eleanor, Put Your Boots On
                a.list-group-item.list-group-item-action.list-group-item-info(href="javascript:void(0);") Puss 'n' Boots
                a.list-group-item.list-group-item-action.list-group-item-warning(href="javascript:void(0);") Die With Your Boots On
                a.list-group-item.list-group-item-action.list-group-item-danger(href="javascript:void(0);") Fairies Wear Boots
                a.list-group-item.list-group-item-action.list-group-item-light(href="javascript:void(0);") Head Over Boots
                a.list-group-item.list-group-item-action.list-group-item-dark(href="javascript:void(0);") Boot Scootin' Boogie
    // Image thumbnails
    .container-fluid.example-container(data-category="image-thumbnails")
        h1 Image thumbnails
        div
            img.rounded(src="https://via.placeholder.com/100x100" alt="Sample image")
            img.rounded-circle(src="https://via.placeholder.com/100x100" alt="Sample image")
            img.img-thumbnail(src="https://via.placeholder.com/100x100" alt="Sample image")
            img.rounded-top(src="https://via.placeholder.com/100x100" alt="Sample image")
    // Figures
    .container-fluid.example-container(data-category="figures")
        h1 Figures
        div
            figure.figure
                img.figure-img.img-fluid.rounded(src="https://via.placeholder.com/400x300" alt="A generic square placeholder image with rounded corners in a figure.")
                figcaption.figure-caption A caption for the above image.
        div
            figure.figure
                img.figure-img.img-fluid.rounded(src="https://via.placeholder.com/400x300" alt="A generic square placeholder image with rounded corners in a figure.")
                figcaption.figure-caption.text-right A caption for the above image.
    // Breadcrumbs
    .container-fluid.example-container(data-category="breadcrumbs")
        h1 Breadcrumbs
        div
            ul.breadcrumb
                li.breadcrumb-item
                    a(href="javascript:void(0);") Home
                li.breadcrumb-item
                    a(href="javascript:void(0);") Fruit
                li.breadcrumb-item.active Pears
    // Carousel
    .container-fluid.example-container(data-category="carousel")
        h1 Carousel
        div
            #myCarousel.carousel.slide.bg-inverse.w-50.ml-auto.mr-auto(data-ride="carousel")
                ol.carousel-indicators
                    li(data-target="#myCarousel" data-slide-to="0")
                    li(data-target="#myCarousel" data-slide-to="1")
                    li.active(data-target="#myCarousel" data-slide-to="2")
                .carousel-inner(role="listbox")
                    .carousel-item
                        img.d-block.w-100(src="https://via.placeholder.com/1280x720" alt="First slide")
                        .carousel-caption
                            h3 First slide
                            p This is the first slide.
                    .carousel-item
                        img.d-block.w-100(src="https://via.placeholder.com/1280x720" alt="Second slide")
                        .carousel-caption
                            h3 Second slide
                            p This is the second slide.
                    .carousel-item.active
                        img.d-block.w-100(src="https://via.placeholder.com/1280x720" alt="Third slide")
                        .carousel-caption
                            h3 Third slide
                            p This is the third slide.
                a.carousel-control-prev(href="#myCarousel" role="button" data-slide="prev")
                    span.carousel-control-prev-icon(aria-hidden="true")
                    span.sr-only Previous
                a.carousel-control-next(href="#myCarousel" role="button" data-slide="next")
                    span.carousel-control-next-icon(aria-hidden="true")
                    span.sr-only Next
    // Close
    .container-fluid.example-container(data-category="close")
        h1 Close
        button.close(type="button" aria-label="Close")
            span(aria-hidden="true") ×
    // Code
    .container-fluid.example-container(data-category="code")
        h1 Code
        .mt-3.mb-5
            h3 Default code
            |       For example,
            code <section>
            |  should be wrapped as inline.
        .mt-3.mb-5
            h3 Code with pre tag
            pre.
                \n

        .mt-3.mb-5
            h3 Var tag
            var y
            |  =
            var m
            var x
            |  +
            var b
        .mt-3.mb-5
            h3 Kbd tag
            |       To switch directories, type
            kbd cd
            |  followed by the name of the directory.
            br
            |  To edit settings, press
            kbd
                kbd ctrl
                |  +
                kbd ,
        .mt-3.mb-5
            h3 Samp tag
            samp This text is meant to be treated as sample output from a computer program.
        .pt-5.pb-5.mb-5.mt-3
        .pt-5.pb-5.mb-5.mt-3
        .pt-5.pb-5.mb-5.mt-3
        .pt-5.pb-5.mb-5.mt-3
        .pt-5.pb-5.mb-5.mt-3
