.circle{
  width: 500px;
  height: 500px;
  bottom: 50px;
  right:100px;
  position: absolute;

  background: linear-gradient(to bottom, rgb(233, 123, 248) 35%, rgb(247, 0, 255) 100%);
  border-radius: 33% 67% 70% 30% / 55% 56% 44% 45%;
  box-shadow: 0 5px 25px #fff3f3;
  animation: circleRadius 4s alternate infinite;
}

@keyframes circleRadius {
  0%{
    border-radius: 33% 67% 70% 30% / 55% 56% 44% 45%;
  }
  100%{
    border-radius: 48% 52% 46% 54% / 53% 43% 57% 47%;
  }
}
.durov{
  z-index: 2;
  bottom: 0;
  right:10%;
  //width: 100px;
  height: 75%;
  position: absolute;
}